<!doctype html>
<head>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel = "stylesheet" type="text/css">
	<link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel = "stylesheet" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <title>Summer 2014</title>

</head>
        <div class="page">
            <div class="container">
                <div class="row" >
                    <div class="col-md-12">
                         <h1>Summer 2014</h1>
                    </div>
                </div>


                 <div class="row">
                    <div class="col-md-3 col-md-offset-9">
                        <div class="input-group">
                            <input type="text" class="form-control"  id="search">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-search"></i>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </div>
            </div>
        </div>


        {% block body %}{% endblock %}


  <script>
	var $rows = $('#homework tbody tr');

	$('#search').keyup(function() {

	    var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
	        reg = RegExp(val, 'i'),
	        text;

	    $rows.show().filter(function() {
	        text = $(this).text().replace(/\s+/g, ' ');
	        return !reg.test(text);
	    }).hide();
	});

</script>



